<?xml version="1.0" encoding="utf-8" ?> 
<settings>
    <connection>
        <ServerName>localhost</ServerName>
        <ServerPort>3306</ServerPort>
        <DbName>financialDB</DbName>
        <DbUserName>root</DbUserName>  
        <DbUserPassword>123</DbUserPassword>
    </connection>
    <defaultSettings>
        <DefaultIdBill>3</DefaultIdBill>
        <DefaultIdIncome>3</DefaultIdIncome>
        <DefaultIdExpence>10</DefaultIdExpence>
    </defaultSettings>
</settings>